/* Bu araç @keyiflerolsun tarafından | @KekikAkademi için yazılmıştır. */

@import "https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap";

* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
    outline: none;
    text-decoration: none !important;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased
}

html, body {
    color: #EF7F1A;
    height: 100%
}

body {
    background-color: #2B2A29;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

h2 {
    font-family: "Mulish", sans-serif;
    color:#d3d3d3;
}

h3 {
    text-align: center;
    color: #d3d3d3  ;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px
}

h3 a {
    color: #EF7F1A;
}

h3 a:hover {
    color: #0087A3;
}

@media only screen and (max-width: 600px) {
    body {
      text-align: center;
      flex-wrap: wrap;
    }

    form h3 {
        font-size: 33px !important;
    }
}

.hover {
    text-decoration: none !important;
    color: #d3d3d3;
    transition: color 1s;
}

.hover:hover {
    color: #2B2A29;
    background: #EF7F1A;
    text-decoration: none !important;
    border: 0.5px solid #EF7F1A;
}

.links-footer {
    padding: 4px;
    border: 0.5px solid #d3d3d3;
    border-width: 1px;
    width: 40px;
    display: inline-block;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    margin-top: 50px;
}